$cus-color-primary: #009688; // material teal 500
$cus-color-secondary: #4caf50; // material green 500
$cus-color-info: #2196f3; // material blue 500
$cus-color-success: #18a058;
$cus-color-warning: #ff9800; // material orange 500
$cus-color-error: #f44336; // material red 500
$cus-color-white: #ffffff;
$cus-color-grey-400: #bdbdbd; // material grey 400
$cus-color-text: #333639;
$cus-color-background: #f5f5f5; // material grey 100

:export {
  cusColorPrimary: $cus-color-primary;
  cusColorSecondary: $cus-color-secondary;
  cusColorInfo: $cus-color-info;
  cusColorSuccess: $cus-color-success;
  cusColorWarning: $cus-color-warning;
  cusColorError: $cus-color-error;
  cusColorWhite: $cus-color-white;
  cusColorGrey400: $cus-color-grey-400;
  cusColorText: $cus-color-text;
  cusColorBackground: $cus-color-background;
}