$color-white: #fff;
$color-grey: #e5e7eb;
$color-grey-50: #fafafa;
$color-grey-100: #f5f5f5;
$color-grey-200: #eeeeee;
$color-grey-300: #e0e0e0;
$color-grey-400: #bdbdbd;
$color-grey-500: #9e9e9e;
$color-black-lighter: #3d3d3d;
$color-black: #303030;
$color-black-lighter: #424242;
$color-emerald-50: rgb(236, 253, 245);
$color-emerald-100: rgb(209, 250, 229);
$color-emerald-200: rgb(167, 243, 208);
$color-emerald-300: rgb(110, 231, 183);
$color-emerald-400: rgb(52, 211, 153);
$color-emerald-500: rgb(5, 150, 105);
$color-teal-10: #f8fcfc;
$color-teal-20: #f5fbfb;
$color-teal-50: #e0f2f1;
$color-teal-100: #b2dfdb;
$color-teal-200: #80cbc4;
$color-teal-300: #4db6ac;
$color-teal-400: #26a69a;
$color-teal-500: #009688;

$color-pink-100: #fff0f6;
$color-pink-200: #ffd6e7;
$color-pink-300: #ffadd2;
$color-pink-400: #ff85c0;
$color-pink-500: #f759ab;

$color-makka-500: #ff771d;
$color-makka-400: #ff924a;
$color-makka-300: #ffad77;
$color-makka-200: #ffc9a5;
$color-makka-100: #ffe4d2;

$color-pakka-500: #ffc656;
$color-pakka-400: #ffd178;
$color-pakka-300: #ffdd9a;
$color-pakka-200: #ffe8bb;
$color-pakka-100: #fff4dd;

$color-success: #1dd1a1;
$color-info: #42a5f5;
$color-warning: #ffa726;
$color-danger: #ef5350;

$color-hover: $color-grey-300;
$color-active: $color-grey-400;
$color-primary-lighter: $color-makka-200;
$color-primary: $color-makka-500;
$color-primary-darker: darken($color-makka-500, 0.2);
$color-secondary-lighter: $color-pakka-200;
$color-secondary: $color-pakka-500;
$color-secondary-darker: darken($color-pakka-500, 0.2);
$color-tertiary: #ffc288;

$text-color-normal: #1f1f1f;
$text-color-middle: #696969;
$text-color-light: #8c8c8c;

$linear-gradient-primary: linear-gradient(180deg, $color-teal-300, $color-primary-darker);
$linear-gradient-primary-2: linear-gradient(150deg, $color-teal-300, $color-primary-darker);
$linear-gradient-primary-3: linear-gradient(330deg, $color-teal-300, $color-primary-darker);

$ease-out-circ: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-in-out-circ: cubic-bezier(0.85, 0, 0.15, 1);
$ease-in-out-back: cubic-bezier(.68,-0.55,.27,1.55);

$screen-sm: 768px;

$box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.1);
$box-shadow-2: 10px 10px 50px 0 rgba(0, 0, 0, 0.1);

%hover-able {
  &:hover {
    background: transparentize($color-hover, 0.5);
  }
}
%active-able {
  &:active {
    background: transparentize($color-active, 0.5);
  }
}
%transition-all-circ {
  transition: all 0.2s $ease-out-circ;
}
%click-able {
  cursor: pointer;
  @extend %hover-able;
  @extend %active-able;
  @extend %transition-all-circ;
}
%button-like {
  border-radius: .5rem;
  padding: .5rem;
}

%page-title {
  font-weight: bold;
  font-size: large;
}

:export {
    colorWhite: $color-white;
    colorGrey: $color-grey;
    colorGrey50: $color-grey-50;
    colorGrey100: $color-grey-100;
    colorGrey200: $color-grey-200;
    colorGrey300: $color-grey-300;
    colorGrey400: $color-grey-400;
    colorGrey500: $color-grey-500;
    colorBlackLighter: $color-black-lighter;
    colorBlack: $color-black;
    colorBlackLighter: $color-black-lighter;
    colorEmerald50: $color-emerald-50;
    colorEmerald100: $color-emerald-100;
    colorEmerald200: $color-emerald-200;
    colorEmerald300: $color-emerald-300;
    colorEmerald400: $color-emerald-400;
    colorEmerald500: $color-emerald-500;
    colorTeal10: $color-teal-10;
    colorTeal20: $color-teal-20;
    colorTeal50: $color-teal-50;
    colorTeal100: $color-teal-100;
    colorTeal200: $color-teal-200;
    colorTeal300: $color-teal-300;
    colorTeal400: $color-teal-400;
    colorTeal500: $color-teal-500;
    colorPink100: $color-pink-100;
    colorPink200: $color-pink-200;
    colorPink300: $color-pink-300;
    colorPink400: $color-pink-400;
    colorPink500: $color-pink-500;
    colorMakka500: $color-makka-500;
    colorMakka400: $color-makka-400;
    colorMakka300: $color-makka-300;
    colorMakka200: $color-makka-200;
    colorMakka100: $color-makka-100;
    colorPakka500: $color-pakka-500;
    colorPakka400: $color-pakka-400;
    colorPakka300: $color-pakka-300;
    colorPakka200: $color-pakka-200;
    colorPakka100: $color-pakka-100;
    colorSuccess: $color-success;
    colorInfo: $color-info;
    colorWarning: $color-warning;
    colorDanger: $color-danger;
    colorHover: $color-hover;
    colorActive: $color-active;
    colorPrimaryLighter: $color-primary-lighter;
    colorPrimary: $color-primary;
    colorPrimaryDarker: $color-primary-darker;
    colorSecondaryLighter: $color-secondary-lighter;
    colorSecondary: $color-secondary;
    colorSecondaryDarker: $color-secondary-darker;
    colorTertiary: $color-tertiary;
    textColorNormal: $text-color-normal;
    textColorMiddle: $text-color-middle;
    textColorLight: $text-color-light;
    linearGradientPrimary: $linear-gradient-primary;
    linearGradientPrimary2: $linear-gradient-primary-2;
    linearGradientPrimary3: $linear-gradient-primary-3;
    easeOutCirc: $ease-out-circ;
    easeInOutCirc: $ease-in-out-circ;
    easeInOutBack: $ease-in-out-back;
    screenSm: $screen-sm;
    boxShadow: $box-shadow;
    boxShadow2: $box-shadow-2;
}